body{
    background-color: #182F7F;
    color: whitesmoke;
    text-align: center;
    font-family: 'Century Gothic', 'Times New Romain', Arial;
}

.buttons{
    padding-top: 20px;
    border-spacing: 20px;
}

a{
    padding: 20px 35px;
    border-color: transparent;
    background-color: whitesmoke;
}

a.visted{
    color: black;
}

.background{
    background-image: url("mainBackground.jpg") ;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    height: 920px;
    width: auto;
}

/* for the typing animation */
.typeWrapping{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 18em;
    color: whitesmoke;
    text-align: center;
}

.typeTitle{
    text-decoration: underline;
    font-size: 4em;
    font-family: monospace;
    
    width: 28ch;
    animation: typingStart 5s steps(28), blink .5s step-end infinite alternate;
    white-space: nowrap;
    border-right: 3px solid;
    overflow: hidden;
}

.intro{
    font-size: 25px;
    font-family: 'Century Gothic', "Times New Romain";
    padding-top: 7em;

}

/* for credits at the bottom right */
address{
    text-align: right;
    margin: 16px;
    padding-top: 16px;
    border-top: solid #9E9EB4;
    position: fixed;
    bottom: 0;
    right: 0;
}



/* dropdown button and menu */
.dropbtn{
    background-color: #503896;
    color:white;
    padding: 9px;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 20px;
    left: 15px;
    width: 60px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 20px;
    left: 75px;
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration:none;
    display: block;
}

.dropdown-content a:hover {background-color: #9E9EB4;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #8D6BDC;}

/* typing animation */
@keyframes typingStart {
    from{
        width:0
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}